// Please set the configuration below
module.exports = {
	screeps: {
		token: '',
//		segment: 99, // Uncomment this line and specify segment id if you're placing stats into segment
		shard: ['shard0'], // An array of shards to pull data from.
		// username: 'username', // uncomment these for Private Servers
		// password: 'password',
		connect: {
			// For Private servers, uncomment and edit the following:
			// host: 'server1.screepspl.us:443',
			// protocol: 'https'
		}
	},
	bigquery:
	{
		dataset: "",
		printToConsole: true,
		createMissingTables: true,
		partionExpiryDays: 60, // 0 to disable 
		createMissingColumns: true,
		clusterOnUnderscore: true, // cluster created tables on columns beginning with an underscore
	},
	interval: 30000,
	checkForUpdates: false,
	sampleConfig: false
}
